*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {
    width: 100%;
    padding: 15px;
    color: #b4c5e4;
    text-align: end;
    position: relative;
    bottom: 0;
}

@media screen and (max-width: 1024px){
    footer > p{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 920px){
    footer {
        padding: 10px;
    }
    footer > p{
        font-size: 0.8rem;
    }
}