@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --white: white;
    --primary-blue: #3066be;
    --light-blue: #b4c5e4;
    --secondary-text: rgb(134, 142, 150);
    --black-gradient: linear-gradient(#000000, #2C3E50);
}

body{
    background: var(--black-gradient);
}

.container{
    /* background: var(--black-gradient); */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cover{
    height: 50vh;
    width: 100%;
    border-bottom: 2px solid var(--primary-blue);
    display: grid;
    grid-template-areas: 
    'heading para image'
    ;
    justify-content: space-around;
    align-content: center;
}

.head_heading{
    height: 50vh;
    grid-area: heading;
    display: flex;
    align-items: center;
}

.head_text{
    height: 50vh;
    grid-area: para;
    display: flex;
    align-items: center;
}

.image{
    height: 50vh;
    grid-area: image;
}

.name_heading{
    color: var(--primary-blue);
    font-family: 'Rasa', 'sans-serif';
    font-size: 4.7rem;
    font-weight: 400;
}

.name_sub_heading{
    color: var(--secondary-text);
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
}

.head_para{
    width: 350px;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}

.icons{
    display: flex;
    margin-top: 0.5rem;
}

.icons a {
    border: 1px solid var(--white);
    padding: 0.5rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons img{
    height: 98%;
    width: 98%;
}

.icons a:hover {
    transition: all .1s ease-in-out 0s;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 3px var(--light-blue);
}

.image img{
    height: 100%;
}

.bottom{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom a img{
    width: 14rem;
}

.bottom a img:hover{
    transition: width .2s ease-in-out 0s;
    width: 15rem;
}

/* RESPONSIVE */

@media screen and (max-width: 1210px){

    .name_heading{
        font-size: 4.5rem;
    }
    
    .name_sub_heading{
        font-size: 0.9rem;
    }
    
    .head_para{
        width: 350px;
        font-size: 0.8rem;
    }
    
    .icons{
        margin-top: 0.4rem;
    }
    
    .icons a {
        padding: 0.4rem;
        height: 1.9rem;
        width: 1.9rem;
        margin: 0.6rem;
    }

    .bottom a img{
        width: 13rem;
    }

    .bottom a img:hover{
        width: 14rem;
    }

}

@media screen and (max-width: 1150px){

    .name_heading{
        font-size: 4rem;
    }
    
    .name_sub_heading{
        font-size: 0.8rem;
    }
    
    .head_para{
        width: 300px;
        font-size: 0.7rem;
    }
    
    .icons{
        margin-top: 0.3rem;
    }

    .icons a {
        padding: 0.3rem;
        height: 1.5rem;
        width: 1.5rem;
        margin: 0.5rem;
    }
    .bottom a img{
        width: 13rem;
    }

    .bottom a img:hover{
        width: 14rem;
    }

}

@media screen and (max-width: 1024px){

    .name_heading{
        font-size: 3.5rem;
    }
    
    .name_sub_heading{
        font-size: 0.7rem;
    }
    
    .head_para{
        width: 250px;
        font-size: 0.6rem;
    }

    .bottom a img{
        width: 12rem;
    }

    .bottom a img:hover{
        width: 13rem;
    }

}

@media screen and (max-width: 920px){

    .cover{
        grid-template-areas:
            'heading image'
            'para image';
    }

    .head_heading{
        height: 25vh;
        align-items: end;
        padding-bottom: 0.5rem;
    }
    
    .head_text{
        height: 25vh;
        align-items: start;
        padding-top: 0.5rem;
    }
    
    .image{
        height: 50vh;
    }

    .head_para{
        width: 300px;
        font-size: 0.7rem;
    }

    .bottom a img{
        width: 11rem;
    }

    .bottom a img:hover{
        width: 12rem;
    }

}

@media screen and (max-width: 769px){

    .name_heading{
        font-size: 3.2rem;
    }
    
    .name_sub_heading{
        font-size: 0.7rem;
    }
    
    .head_para{
        width: 300px;
        font-size: 0.65rem;
    }
    
    .icons{
        margin-top: 0.3rem;
    }

    .icons a {
        padding: 0.3rem;
        height: 1.4rem;
        width: 1.4rem;
        margin: 0.4rem;
    }
    
    .bottom a img{
        width: 10rem;
    }

    .bottom a img:hover{
        width: 11rem;
    }

}

@media screen and (max-width: 680px){

    .container{
        height: 150vh;
    }

    .cover{
        height: 100vh;
        grid-template-areas:
            'image'
            'heading'
            'para';
    }

    .image{
        height: 40vh;
    }

    .head_heading, .head_text{
        height: 30vh;
    }
    
    .icons{
        display: none;
    }
    
    .bottom a img{
        width: 9rem;
    }

    .bottom a img:hover{
        width: 10rem;
    }

}
