@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --white: white;
    --primary-blue: #3066be;
    --light-blue: #b4c5e4;
    --secondary-text: rgb(134, 142, 150);
    --black-gradient: linear-gradient(#000000, #2C3E50);
}

.container{
    background: var(--black-gradient);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cover{
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid var(--primary-blue);
}

.name_heading{
    /* color: rgb(32, 201, 151); */
    color: var(--primary-blue);
    font-family: 'Rasa', 'sans-serif';
    font-size: 74px;
    font-weight: 400;
}

.name_sub_heading{
    color: var(--secondary-text);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}

.head_para{
    width: 350px;
    height: 100px;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.icons{
    display: flex;
}

.icons a {
    border: 1px solid var(--white);
    padding: 5px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons a:hover {
    transition: all .1s ease-in-out 0s;
    transform: scale(1.1);
    /* box-shadow: 0px 0px 10px 3px rgba(230, 224, 200, 0.5); */
    box-shadow: 0px 0px 10px 3px var(--light-blue);
}

.cover .image{
    height: 100%;
}

.image img{
    height: 100%;
}

.bottom{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom a img{
    width: 14rem;
}

.bottom a img:hover{
    transition: width .2s ease-in-out 0s;
    width: 15rem;
}